*.iml
.gradle
/.idea/
.kotlin/
.kotlin-js-store/
kotlin-js-store/
.DS_Store
build/
**/build/
captures
.externalNativeBuild
.cxx
local.properties
/local.properties
.artifacts/

# Firebase & Secret Keys
*.json
!app/google-services.json
!composeApp/google-services.json
!package.json
!**/package.json
!package-lock.json
!**/package-lock.json
!tsconfig.json
!**/tsconfig.json
serviceAccountKey.json
backend/*.json

# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
.venv/

# Node / Web / Frontend
node_modules/
**/node_modules/
.next/
**/.next/
out/
**/out/
dist/
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
